<%= bootstrap_form_with(
  model: @payslip,
  url: payslip_form_path,
  id: 'payslip-form',
  data: { preview: true }
) do |f| %>
  <%= f.number_field @payslip.attendance, required: true, data: { preview: true } %>
  <%= render 'shared/issue_date_field',
    f: f,
    model: @payslip,
    options: { data: { preview: false }, required: true }
  %>
  <%= render 'shared/applies_on_field',
    f: f,
    model: @payslip,
    options: { data: { preview: true }, required: true }
  %>
  <div class="d-flex">
    <div class="p-2">
      <%= f.button 'Preview', type: :button,
        data: { preview: new_payslip_path } %>
    </div>
    <div class="p-2">
      <%- if @payslip.valid? -%>
        <%= f.primary 'Generate', data: { 'disable-with': 'Generating...' } %>
      <%- end -%>
    </div>
  </div>
<% end %>
