<%= bootstrap_form_with(model: @employee, id: 'employee-form') do |f| %>
  <%= f.text_field :name, required: true %>
  <%= f.number_field :rate, rate_field_value(@employee.rate, required: true) %>
  <%= f.form_group :rate_type do %>
    <%= f.radio_button :rate_type,
      :weekly, inline: true,
      required: true,
      'data-toggler' => true
    %>
    <%= f.radio_button :rate_type,
      :half_monthly,
      inline: true,
      required: true,
      'data-toggler' => true
    %>
  <% end %>
  <div data-collapse="half_monthly" class="form-group <%= 'collapse' unless @employee.half_monthly? %>">
    <%= f.check_box :cash_bond %>
  </div>
  <%= f.number_field :overtime_rate,
    rate_field_value(
      @employee.overtime_rate,
      help: 'Must be hourly rate',
      required: true,
    )
  %>
  <%= f.number_field :rice_allowance_rate,
    rate_field_value(
      @employee.rice_allowance_rate,
      help: 'Must be daily rate',
      required: true
    )
  %>
  <%= f.number_field :month_end_rate,
    rate_field_value(
      @employee.month_end_rate,
      help: 'Must be monthly rate',
      required: false,
      min: 0
    )
  %>
  <%= f.number_field :year_end_rate,
    rate_field_value(
      @employee.year_end_rate,
      help: 'Must be annual rate',
      required: false,
      min: 0
    )
  %>
  <%= f.form_group :status do %>
    <%- Employee.statuses.each do |status, _| -%>
      <%= f.radio_button :status, status, inline: true, required: true %>
    <%- end -%>
  <% end %>
  <%= render 'form_buttons', { f: f } %>
<% end %>
