<ul class="nav nav-pills">
  <li class="nav-item">
    <%= link_to 'Info', edit_employee_path(@employee), class: "nav-link #{'active' if info_pill?}" %>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link <%= 'active' if deductions_pill? %> dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Deductions</a>
    <div class="dropdown-menu">
      <%- Deductions::TYPES.each do |advance| -%>
        <%- next if @employee.disallowed?(advance) -%>
        <%= link_to advance.to_s.titleize,
          public_send("employee_#{advance}_path", @employee),
          class: 'dropdown-item'
        %>
      <%- end -%>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link <%= 'active' if payslips_pill? %> dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Payslips</a>
    <div class="dropdown-menu">
      <%- Payslips::TYPES.each do |payslip| -%>
        <%- next if @employee.disallowed?(payslip) -%>
        <%= link_to payslip.to_s.titleize,
          public_send("employee_#{payslip}_path", @employee),
          class: 'dropdown-item'
        %>
      <%- end -%>
    </div>
  </li>
</ul>
