<div class="row">
  <div class="col-lg-12">
  <div class="mb-2">
    <%= bootstrap_form_with(
      data: { turbolinks: true },
      url: employees_path,
      method: :get,
      local: true,
      layout: :inline
    ) do |f| %>
      <div class="input-group mr-2">
        <%= f.select :rate_type,
          rate_types_for_select,
          { selected: params[:rate_type], include_blank: true },
          data: { toggler: true }
        %>
      </div>
      <div>
        <%= f.submit 'Search', class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
    <div>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Rate</th>
            <th scope="col">Rate Type</th>
            <th scope="col">Rice Allowance</th>
            <th scope="col">Overtime</th>
            <th scope="col">Month End</th>
            <th scope="col">Year End</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @employees.each do |employee| %>
            <tr class="<%= 'table-warning' if employee.inactive? %>">
              <th scope="row"><%= employee.name %></th>
              <td><%= number_to_currency employee.rate %></td>
              <td><%= employee.rate_type.humanize %></td>
              <td><%= number_to_currency employee.rice_allowance_rate %></td>
              <td><%= number_to_currency employee.overtime_rate %></td>
              <td>
                <%= employee.has_month_end? ?
                  number_to_currency(employee.month_end_rate) :
                  'N/A'
                %>
              </td>
              <td>
                <%= employee.has_year_end? ?
                  number_to_currency(employee.year_end_rate) :
                  'N/A'
                %>
              </td>
              <td>
                <div class="btn-group btn-group-sm" role="group">
                  <%= link_to 'Edit', edit_employee_path(employee),
                    class: 'btn btn-secondary p-2' %>
                  <%= link_to 'Delete', employee_path(employee),
                    remote: true,
                    method: :delete,
                    data: {
                      confirm: 'Are you sure you want to delete this record?'
                    },
                    class: 'btn btn-danger p-2' %>
                  <div class="btn-group">
                    <%= render 'create_advance_dropdown',
                      label: '&plus; Advance'.html_safe, employee: employee %>
                  </div>
                  <div class="btn-group" role="group">
                    <%= render 'create_payslip_dropdown',
                      label: '&plus; Payslip'.html_safe, employee: employee %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-auto mr-auto">
        <nav aria-label="Employee list navigation">
          <%= pagy_bootstrap_nav(@pagy).html_safe %>
        </nav>
      </div>
      <div class="col-auto">
        <%= link_to 'Add new employee',
          new_employee_path(@employee), class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
