<div class="row">
  <div class="col-lg-12">
    <%= render 'employees/nav_pills' %>
    <div class="tab-content">
      <div class="tab-pane active">
        <%= render 'shared/payslips/search_form',
          url: nesting_aware_month_end_payslips_path,
          type: :monthly %>
        <%= render 'shared/payslips/table' %>
        <div class="row">
          <div class="col-auto mr-auto">
            <nav aria-label="Payslips list navigation">
              <%= pagy_nav_bootstrap(@pagy).html_safe %>
            </nav>
          </div>
          <div class="col-auto">
            <%= link_to 'Create new month end payslip',
              new_employee_month_end_payslip_path(@employee),
              class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
