<div class="row">
  <div class="col-lg-12">
    <%= render 'employees/nav_pills' %>
    <div class="tab-content">
      <div class="tab-pane active">
        <h4 class="mb-3">
          Rice allowance payslips for <%= @employee.name %>
        </h4>
        <%= render 'shared/payslips/search_form',
          url: nesting_aware_rice_allowance_payslips_path,
          type: :weekly %>
        <%= render 'shared/payslips/table' %>
        <div class="row">
          <div class="col-auto mr-auto">
            <nav aria-label="Payslips list navigation">
              <%= pagy_bootstrap_nav(@pagy).html_safe %>
            </nav>
          </div>
          <div class="col-auto">
            <%= link_to 'Create new rice allowance payslip',
              new_employee_rice_allowance_payslip_path(@employee),
              class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
