<div class="row pt-3">
  <table class="table table-bordered mr-3 ml-3">
    <tr>
      <th colspan="2">Breakdown</th>
    </tr>
    <tfoot>
      <tr>
        <td>Total</td>
        <td><%= number_to_currency @payslip.total %></td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td><%= rate_computation %></td>
        <td><%= number_with_precision(@payslip.total_income, precision: 2) %></td>
      </tr>
      <%- if @payslip.advances.present? -%>
        <tr>
          <td>
            Deductions:
            <ul class="list-group list-group-flush">
              <%- @payslip.advances.group_by(&:advance_type).each do |type, advances| -%>
                <li class="list-group-item">
                  <div class="d-flex">
                    <div>
                      <%= link_to_unless print_preview?,
                        pluralize(advances.size, "#{type.humanize(capitalize: false)} advance"),
                        '#',
                        data: { toggle: 'collapse', target: "#rest-of-#{type}" }
                      %>
                    </div>
                    <div class="ml-auto">
                      <%= number_with_precision(advances.sum(&:amount), precision: 2) %>
                    </div>
                  </div>
                  <%- unless print_preview? -%>
                    <ul id="rest-of-<%= type %>" class="collapse list-group">
                      <%- advances.each do |advance| -%>
                        <%= render 'shared/receipts/billing_item', advance: advance %>
                      <%- end -%>
                    </ul>
                  <%- end -%>
                </li>
              <%- end -%>
            </ul>
          </td>
          <td>-<%= number_with_precision(@payslip.advances.sum(:amount), precision: 2) %></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</div>
