<div class="row">
  <div class="col-lg-12">
    <div class="tab-content">
      <div class="tab-pane active">
        <div class="d-flex justify-content-center">
          <h4 class="mb-3">
            <strong><%= advance_name.titleize %> (<%= @advance.date_range %>)</strong>
          </h4>
        </div>
        <%= render 'shared/receipts/top_row', model: @advance %>
        <div class="d-flex pl-2 pr-2 mt-4 mb-4">
          <div>
            <span class="pr-2">Advance Type:</span>
            <span><%= @advance.advance_type.humanize %></span>
          </div>
          <div class="ml-auto">
            <span class="pr-2">Amount:</span>
            <span><%= number_to_currency(@advance.amount) %></span>
          </div>
        </div>
        <%- if @advance.description.present? -%>
          <div class="p-2 border">
            <%= @advance.description %>
          </div>
        <%- end -%>
        <div class="p-2">
          <%= render 'shared/receipts/footer' %>
        </div>
      </div>
    </div>
  </div>
</div>
