<div class="row">
  <div class="col-lg-12">
    <%= render 'employees/nav_pills' if employee_context? && !print_preview? %>
    <div class="tab-content">
      <div class="tab-pane active">
        <div class="d-flex justify-content-center">
          <h4 class="mb-3">Month end payslip for <%= @payslip.employee.try(:name) %></h4>
        </div>
        <%= render 'shared/receipts/top_row', model: @payslip %>
        <%= render 'shared/payslips/receipt_info' %>
        <%= render 'shared/receipts/breakdown',
          rate_computation: "#{number_with_precision(@payslip.base_rate, precision: 2)} (rate / 30) * #{@payslip.days_present} (days present)" %>
        <%= render 'shared/receipts/footer' %>
      </div>
    </div>
    <%= render 'shared/payslips/preview_button' %>
  </div>
</div>
