<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <%- unless employee_context? -%>
          <th scope="col">Employee</th>
        <%- end -%>
        <th scope="col">Salary Type</th>
        <th scope="col">Period</th>
        <th scope="col">Total</th>
        <th scope="col">Issue Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @payslips.each do |payslip| %>
        <tr>
          <%- if !employee_context? -%>
            <td><%= link_to payslip.employee.try(:name), edit_employee_path(id: payslip.employee_id) if payslip.employee_id %></td>
          <%- end -%>
          <td><%= payslip.salary_type.humanize %></td>
          <td><%= payslip.date_range %></td>
          <td><%= number_to_currency payslip.total %></td>
          <td><%= l payslip.issue_date, format: :short %></td>
          <td>
            <div class="btn-group btn-group-sm" role="group">
              <%= link_to 'View', nesting_aware_salary_payslip_path(payslip),
                class: 'btn btn-light' %>
              <%= link_to 'Delete', nesting_aware_salary_payslip_path(payslip),
                remote: true,
                method: :delete,
                data: {
                  confirm: 'Are you sure you want to delete this payslip?'
                },
                class: 'btn btn-danger' %>
              <%= link_to 'Receipt', preview_path(payslip),
                target: '_blank',
                class: 'btn btn-info' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<nav aria-label="Salary payslips list navigation">
  <%= pagy_nav_bootstrap(@pagy).html_safe %>
</nav>
