<div class="row">
  <div class="col-lg-12">
    <%= render 'employees/nav_pills' if employee_context? && !print_preview? %>
    <div class="tab-content">
      <div class="tab-pane active">
        <div class="d-flex justify-content-center">
          <h4 class="mb-3"><strong>Salary Payslip (<%= @payslip.date_range %>)</strong></h4>
        </div>
        <%= render 'payslip_header' %>
        <%= render 'receipt_breakdown',
          rate_computation: "#{number_with_precision(@payslip.rate, precision: 2)} (rate) * #{number_with_precision(@payslip.days_present, precision: 2)} (days present)" %>
        <%= render 'shared/receipts/footer' %>
      </div>
    </div>
    <%= render 'shared/payslips/preview_button' %>
  </div>
</div>
