<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bodega</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= 'print' if print_preview? %>">
    <%= render 'layouts/nav' unless print_preview? %>
    <main role="main" class="container">
      <%= render 'layouts/messages' unless print_preview? %>
      <%= yield %>
    </main>
  </body>
</html>
